
/***
*
* Library jsHunter Styles
*
*/

* {
    margin: 0px;
    padding: 0px;
}
#modal-container__styling {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
    font-family: arial !important;
    overflow: hidden !important;
}
#modal-container__styling #modal-box {
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 15%;
    background: #FFFFFF;
    box-shadow: 4px 5px 15px #454545;
    overflow: hidden !important;
}
#modal-container__styling #modal-close {
    width: auto;
    height: auto;
    position: absolute;
    right: 1%;
    top: 2%;
    color: #454545;
    font-size: 18px;
    z-index: 10;
    padding: 1%;
    cursor: pointer;
}
#modal-container__styling #modal-title {
    width: 96%;
    height: 7%;
    background: #BFBFBF;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2%;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
    padding-bottom: 0px;
}
#modal-container__styling #modal-content {
    width: 96%;
    height: 73%;
    background: #FFFFFF;
    color: #999999;
    padding: 2%;
    letter-spacing: 3px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 4;
    top: 10%;
    left: 0px;
}
#modal-container__styling #modal-footer {
    width: 96%;
    height: 7%;
    background: #BFBFBF;
    color: #FFFFFF;
    letter-spacing: 3px;
    text-align: center;
    padding: 2%;
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: 0px;
    padding-bottom: 0px;
}

/*Themes*/

/*Green*/
.theme-green__styling {
    background: rgba(0, 180, 0, 0.4) !important;
}
.theme-green__styling #modal-box {
    background: #bdf3bd !important;
    box-shadow: 4px 5px 15px #2d6615 !important;
}
.theme-green__styling #modal-box #modal-close {
    background: #457a45 !important;
    color: #0b470b !important;
}
.theme-green__styling #modal-box #modal-title {
    background: #205f20 !important;
    color: #acc1ac !important;
}
.theme-green__styling #modal-box #modal-content {
    background: #95f392;
    color: #008B00;
}
.theme-green__styling #modal-box #modal-footer {
    background: #64ac54 !important;
    color: #1f581f !important;
}

/*Ice*/
.theme-ice__styling {
    background: rgba(215, 229, 227, 0.4) !important;
}
.theme-ice__styling #modal-box {
    background: #e8f1f1 !important;
    box-shadow: 4px 5px 15px #DEDEDE;
}
.theme-ice__styling #modal-box #modal-close {
    background: #b8bebe !important;
    color: #4e5655 !important;
}
.theme-ice__styling #modal-box #modal-title {
    background: #dae5e5 !important;
    color: #505151 !important;
}
.theme-ice__styling #modal-box #modal-content {
    background: #e8f1f1;
    color: #303b30;
}
.theme-ice__styling #modal-box #modal-footer {
    background: #e6eaea !important;
    color: #444b4f !important;
}

/*Yellow*/
.theme-yellow__styling {
    background: rgba(248, 219, 17, 0.3) !important;
}
.theme-yellow__styling #modal-box {
    background: #FFF8DC !important;
    box-shadow: 4px 5px 15px #7d811f;
}
.theme-yellow__styling #modal-box #modal-close {
    background: #ba8c21 !important;
    color: #FFD700 !important;
}
.theme-yellow__styling #modal-box #modal-title {
    background: #DAA520 !important;
    color: #FFD700 !important;
}
.theme-yellow__styling #modal-box #modal-content {
    background: #f1d668;
    color: #887a35;
}
.theme-yellow__styling #modal-box #modal-footer {
    background: #e9c366 !important;
    color: #b08816 !important;
}

/*Black*/
.theme-black__styling {
    background: rgba(10, 10, 10, 0.7) !important;
}
.theme-black__styling #modal-box {
    background: #fff8dc !important;
    box-shadow: 4px 5px 15px #3b3b36 !important;
}
.theme-black__styling #modal-box #modal-close {
    background: #3c3b39 !important;
    color: #e9e7df !important;
}
.theme-black__styling #modal-box #modal-title {
    background: #2b2a28 !important;
    color: #e2e2d6 !important;
}
.theme-black__styling #modal-box #modal-content {
    background: #323232;
    color: #d7dcdd;
}
.theme-black__styling #modal-box #modal-footer {
    background: #000000 !important;
    color: #c9d9d9 !important;
}

/*Blue*/
.theme-blue__styling {
    background: rgba(7, 35, 157, 0.9) !important;
}
.theme-blue__styling #modal-box {
    background: #6da8f1 !important;
    box-shadow: 4px 5px 15px #182c79 !important;
}
.theme-blue__styling #modal-box #modal-close {
    background: #1645a4 !important;
    color: #e9e7df !important;
}
.theme-blue__styling #modal-box #modal-title {
    background: #0b2762 !important;
    color: #e2e2d6 !important;
}
.theme-blue__styling #modal-box #modal-content {
    background: #274ab5;
    color: #598bd6;
}
.theme-blue__styling #modal-box #modal-footer {
    background: #162c7a !important;
    color: #c9d9d9 !important;
}

/*Red*/
.theme-red__styling {
    background: rgba(165, 27, 27, 0.8) !important;
}
.theme-red__styling #modal-box {
    background: #e34747 !important;
    box-shadow: 4px 5px 15px #3e1c1c !important;
}
.theme-red__styling #modal-box #modal-close {
    background: #6b1111 !important;
    color: #ec2323 !important;
}
.theme-red__styling #modal-box #modal-title {
    background: #960505 !important;
    color: #e2e2d6 !important;
}
.theme-red__styling #modal-box #modal-content {
    background: #5b0707;
    color: #e33232;
}
.theme-red__styling #modal-box #modal-footer {
    background: #b01212 !important;
    color: #c9d9d9 !important;
}

/*Pink*/
.theme-pink__styling {
    background: rgba(192, 31, 238, 0.8) !important;
}
.theme-pink__styling #modal-box {
    background: #870499 !important;
    box-shadow: 4px 5px 15px #581858 !important;
}
.theme-pink__styling #modal-box #modal-close {
    background: #6a2773 !important;
    color: #e14cf6 !important;
}
.theme-pink__styling #modal-box #modal-title {
    background: #870499 !important;
    color: #e14cf6 !important;
}
.theme-pink__styling #modal-box #modal-content {
    background: #5b0267;
    color: #d080db;
}
.theme-pink__styling #modal-box #modal-footer {
    background: #cd5fd7 !important;
    color: #9418a5 !important;
}

/*Black-White*/
.theme-black-white__styling {
    background: rgba(0, 0, 0, 0.7) !important;
}
.theme-black-white__styling #modal-box {
    background: #ffffff !important;
    box-shadow: 4px 5px 15px #454545 !important;
}
.theme-black-white__styling #modal-box #modal-close {
    background: #000000 !important;
    color: #ffffff !important;
}
.theme-black-white__styling #modal-box #modal-title {
    background: #242824 !important;
    color: #ffffff !important;
}
.theme-black-white__styling #modal-box #modal-content {
    background: #ffffff;
    color: #000000;
}
.theme-black-white__styling #modal-box #modal-footer {
    background: #1f1e1e !important;
    color: #ffffff !important;
}

/*Red-White*/
.theme-red-white__styling {
    background: rgba(0, 0, 0, 0.7) !important;
}
.theme-red-white__styling #modal-box {
    background: #ffffff !important;
    box-shadow: 4px 5px 15px #121212 !important;
}
.theme-red-white__styling #modal-box #modal-close {
    background: #8F0000 !important;
    color: #ffffff !important;
}
.theme-red-white__styling #modal-box #modal-title {
    background: #B80000 !important;
    color: #ffffff !important;
}
.theme-red-white__styling #modal-box #modal-content {
    background: #ffffff;
    color: #000000;
}
.theme-red-white__styling #modal-box #modal-footer {
    background: #B80000 !important;
    color: #ffffff !important;
}

/*Blue-White*/
.theme-blue-white__styling {
    background: rgba(0, 0, 0, 0.7) !important;
}
.theme-blue-white__styling #modal-box {
    background: #ffffff !important;
    box-shadow: 4px 5px 15px #121212 !important;
}
.theme-blue-white__styling #modal-box #modal-close {
    background: #00008F !important;
    color: #ffffff !important;
}
.theme-blue-white__styling #modal-box #modal-title {
    background: #0000B8 !important;
    color: #ffffff !important;
}
.theme-blue-white__styling #modal-box #modal-content {
    background: #ffffff;
    color: #000000;
}
.theme-blue-white__styling #modal-box #modal-footer {
    background: #0000B8 !important;
    color: #ffffff !important;
}

/*Green-White*/
.theme-green-white__styling {
    background: rgba(0, 0, 0, 0.7) !important;
}
.theme-green-white__styling #modal-box {
    background: #ffffff !important;
    box-shadow: 4px 5px 15px #121212 !important;
}
.theme-green-white__styling #modal-box #modal-close {
    background: #008F00 !important;
    color: #ffffff !important;
}
.theme-green-white__styling #modal-box #modal-title {
    background: #00B800 !important;
    color: #ffffff !important;
}
.theme-green-white__styling #modal-box #modal-content {
    background: #ffffff;
    color: #000000;
}
.theme-green-white__styling #modal-box #modal-footer {
    background: #00B800 !important;
    color: #ffffff !important;
}

/*Pink-White*/
.theme-pink-white__styling {
    background: rgba(0, 0, 0, 0.7) !important;
}
.theme-pink-white__styling #modal-box {
    background: #ffffff !important;
    box-shadow: 4px 5px 15px #121212 !important;
}
.theme-pink-white__styling #modal-box #modal-close {
    background: #8F008F !important;
    color: #ffffff !important;
}
.theme-pink-white__styling #modal-box #modal-title {
    background: #B800B8 !important;
    color: #ffffff !important;
}
.theme-pink-white__styling #modal-box #modal-content {
    background: #ffffff;
    color: #000000;
}
.theme-pink-white__styling #modal-box #modal-footer {
    background: #B800B8 !important;
    color: #ffffff !important;
}

/*Yellow-White*/
.theme-yellow-white__styling {
    background: rgba(0, 0, 0, 0.7) !important;
}
.theme-yellow-white__styling #modal-box {
    background: #ffffff !important;
    box-shadow: 4px 5px 15px #121212 !important;
}
.theme-yellow-white__styling #modal-box #modal-close {
    background: #7a621c !important;
    color: #000000 !important;
}
.theme-yellow-white__styling #modal-box #modal-title {
    background: #b08816 !important;
    color: #ffffff !important;
}
.theme-yellow-white__styling #modal-box #modal-content {
    background: #ffffff;
    color: #000000;
}
.theme-yellow-white__styling #modal-box #modal-footer {
    background: #b08816 !important;
    color: #000000 !important;
}

/*Generic*/
.back-dark-alpha {
    background: rgba(1, 1, 1, 0.7) !important;
}
.back-white {
    background: #FFFFFF !important;
}

/*Code Styles*/
.codes,
.html,
.css,
.javascript,
.php,
.sql,
.python,
.java {
    padding: 1%;
    border: dashed #DEDEDE 1px;
    font-family: "Courier New", "courier", sans-serif;
    text-align: left !important;
    width: 97%;
    height: auto;
    min-height: 100px;
    max-height: 1000px;
    margin: 20px auto;
    font-style: normal !important;
    overflow: auto;
}
.line-number {
    text-align: right !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    overflow: hidden !important;
    font-family: inherit !important;
    display: block !important;
    width: 5% !important;
    float: left !important;
    border-right: solid 1px !important;
    margin-right: 10px !important;
}
.line-code {
    font-family: inherit !important;
    padding-top: -10px !important;
    display: block !important;
    width: 90% !important;
    float: left !important;
}
/*Dark*/
.back-dark-code {
    background: #2b2b2b !important;
    color: #B6DAEF /*#de96d0*/ !important;
}
.back-dark-code .test,
.back-dark-code .syntax-error {
    color: #FF0000 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-dark-code .line-number {
    color: #d7a410 !important;
    border-right: solid #d7a410 1px !important;
}
.back-dark-code .class {
    color: #e216e9 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-dark-code .classname {
    color: #7fc6ec !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-dark-code .set-get-methods {
     color: #ca1a1a !important;
     font-family: inherit !important;
     font-weight: normal !important;
 }
.back-dark-code .constructor {
    color: #9f0a97 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-dark-code .function,
.back-dark-code .loop-condition,
.back-dark-code .return,
.back-dark-code .variable-declare {
    color: #d27510 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-dark-code .param,
.back-dark-code .number,
.back-dark-code .variables {
    color: #22a4fa !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-dark-code .return {
    font-weight: normal !important;
}
.back-dark-code .number {
    color: #e340b5 !important;
}
.back-dark-code .function-name {
    color: #ecf306 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-dark-code .dom-elements,
.back-dark-code .object-attribute,
.back-dark-code .property {
    color: #815eee !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-dark-code .alias {
    color: #d90b34 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-dark-code .value {
    color: #1bf526 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-dark-code .string,
.back-dark-code .comment-in-block {
    color: #61ae63 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-dark-code .comments-inline {
    color: #acacac !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-dark-code .boolean {
    color: #d27510 !important;
    font-family: inherit !important;
}
.back-dark-code .links {
    color: #0fbfe9 !important;
    font-family: inherit !important;
    font-weight: normal !important;
    text-decoration: underline;
}
/*Blue*/
.back-blue-code {
    background: #102072 !important;
    color: #d4c540 /*#de96d0*/ !important;
}
.back-blue-code .test,
.back-blue-code .syntax-error {
    color: #FF0000 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .line-number {
    color: #cadbe7 !important;
    border-right: solid #cadbe7 1px !important;
}
.back-blue-code .class {
    color: #e216e9 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .classname {
    color: #7fc6ec !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .set-get-methods {
    color: #ca1a1a !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .constructor {
    color: #9f0a97 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .function,
.back-blue-code .loop-condition,
.back-blue-code .return,
.back-blue-code .variable-declare {
    color: #d27510 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .param,
.back-blue-code .number,
.back-blue-code .variables {
    color: #ff00bf !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .return {
    font-weight: normal !important;
}
.back-blue-code .number {
    color: #e9de0b !important;
}
.back-blue-code .function-name {
    color: #e3ea22 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .dom-elements,
.back-blue-code .object-attribute,
.back-blue-code .property {
    color: #815eee !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-blue-code .alias {
    color: #d90b34 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-blue-code .value {
    color: #1bf526 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-blue-code .string,
.back-blue-code .comment-in-block {
    color: #7ae0c3 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-blue-code .comments-inline {
    color: #e3e1e1 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-blue-code .boolean {
    color: #d27510 !important;
    font-family: inherit !important;
}
.back-blue-code .links {
    color: #0fbfe9 !important;
    font-family: inherit !important;
    font-weight: normal !important;
    text-decoration: underline;
}
/*Light*/
.back-light-code {
    background: #fcfcfc !important;
    color: #33393e /*#de96d0*/ !important;
}
.back-light-code .test,
.back-light-code .syntax-error {
    color: #FF0000 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-light-code .line-number {
    color: #3b4d5a !important;
    border-right: solid #3b4d5a 1px !important;
}
.back-light-code .class {
    color: #e216e9 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-light-code .classname {
    color: #7fc6ec !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-light-code .set-get-methods {
    color: #ca1a1a !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .constructor {
    color: #9f0a97 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-light-code .function,
.back-light-code .loop-condition,
.back-light-code .return,
.back-light-code .variable-declare {
    color: #d27510 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-light-code .param,
.back-light-code .number,
.back-light-code .variables {
    color: #22a4fa !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .return {
    font-weight: normal !important;
}
.back-light-code .number {
    color: #e340b5 !important;
}
.back-light-code .function-name {
    color: #6a6d09 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .dom-elements,
.back-light-code .object-attribute,
.back-light-code .property {
    color: #815eee !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .alias {
    color: #d90b34 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-light-code .value {
    color: #1bf526 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .string,
.back-light-code .comment-in-block {
    color: #61ae63 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .string {
    color: #d23737 !important;
}
.back-light-code .comments-inline {
    color: #acacac !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-light-code .boolean {
    color: #d27510 !important;
    font-family: inherit !important;
}
.back-light-code .links {
    color: #0fbfe9 !important;
    font-family: inherit !important;
    font-weight: normal !important;
    text-decoration: underline;
}
/*Modern*/
.back-modern-code {
    background: #3b4354 !important;
    color: #ddebf6 /*#de96d0*/ !important;
}
.back-modern-code .test,
.back-modern-code .syntax-error {
    color: #ef4848 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .line-number {
    color: #916ee7 !important;
    border-right: solid #916ee7 1px !important;
}
.back-modern-code .class {
    color: #e216e9 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .classname {
    color: #7fc6ec !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .set-get-methods {
    color: #7fc6ec !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-modern-code .constructor {
    color: #d74bd0 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .function,
.back-modern-code .loop-condition,
.back-modern-code .return,
.back-modern-code .variable-declare {
    color: #718fea !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .param,
.back-modern-code .number,
.back-modern-code .variables {
    color: #faa81b !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .return {
    color: #faa81b !important;
    font-weight: normal !important;
}
.back-modern-code .number {
    color: #d477d2 !important;
    font-weight: normal !important;
}
.back-modern-code .function-name {
    color: #dce30d !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-modern-code .dom-elements,
.back-modern-code .object-attribute,
.back-modern-code .property {
    color: #815eee !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-modern-code .alias {
    color: #ff8602 !important;
    font-family: inherit !important;
    font-weight: bold !important;
}
.back-modern-code .value {
    color: #1bf526 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-modern-code .string,
.back-modern-code .comment-in-block {
    color: #1eae23 !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-modern-code .string{
    color: #ff4f4f !important;
}
.back-modern-code .comments-inline {
    color: #acacac !important;
    font-family: inherit !important;
    font-weight: normal !important;
}
.back-modern-code .boolean {
    color: #7dec71 !important;
    font-family: inherit !important;
}
.back-modern-code .links {
    color: #0fbfe9 !important;
    font-family: inherit !important;
    font-weight: normal !important;
    text-decoration: underline;
}