
/***
*
* Library jsHunter Styles
*
*/

/*General*/
* {
    margin: 0px;
    padding: 0px;
}
/*Editor and Writer*/
.span-tab1 {
    display: inline-block;
    width: 40px;
    height: 20px;
}
.span-tab2 {
    display: inline-block;
    width: 80px;
    height: 20px;
}
.span-tab3 {
    display: inline-block;
    width: 120px;
    height: 20px;
}
.span-tab4 {
    display: inline-block;
    width: 160px;
    height: 20px;
}
.span-tab5 {
    display: inline-block;
    width: 200px;
    height: 20px;
}
.span-tab6 {
    display: inline-block;
    width: 240px;
    height: 20px;
}
.span-tab7 {
    display: inline-block;
    width: 280px;
    height: 20px;
}
.obj-index {
    color: #FF69B4;
}
.obj-value {
    color: #1764c1;
}
.obj-index-typeof {
    color: #919393;
    font-style: italic;
}
/*Generic*/
.back-dark-alpha {
    background: rgba(1, 1, 1, 0.7) !important;
}
.back-white {
    background: #FFFFFF !important;
}